/Calendar/nbproject/private/
/Calendar/build/
/Thread_Synchronize/nbproject/private/
/Thread_Synchronize/build/
/FileShow/nbproject/private/
/FileShow/build/
/NotePad/nbproject/private/
/Thread_sleep/nbproject/private/
/postgresDB/nbproject/private/
/Exception/nbproject/private/
/Image/nbproject/private/
/Image/build/
/Image/dist/
/Game_1A2B/nbproject/private/
/Game_1A2B/dist/
/Game_1A2B/build/
/Collections/nbproject/private/
/Collections/build/
/do_while/nbproject/private/
/Ttemperature/nbproject/private/
/do_while/build/
/Random_BubbleSort/nbproject/private/
/Random_BubbleSort/build/
/Switch_Case/nbproject/private/